extends layout

block content
  .w3-card-4 
    header.w3-container.w3-green 
      h1 To Do List 
    br
    form.w3-container(id="addTask" method="POST")
      fieldset 
        legend Add Task 
        label Name
        input.w3-input.w3-round(type="text" name="name" required)
        br
        label Deadline 
        input.w3-input.w3-round(type="date" name="deadline" required)
        br
        label Task Description 
        input.w3-input.w3-round(type="text" name="description" required)
      br
      button.w3-btn.w3-green.w3-mb-2(type="submit") Register
    .w3-half 
      .w3-container.w3-center
        h2.w3-grey.w3-text-white To Do Tasks 
      each t in todolist 
        .w3-container
          .w3-panel.w3-light-grey.w3-bottombar.w3-border-grey.w3-border.w3-display-container 
            p 
              b Name: 
              | #{t.name}
            p 
              b Deadline Date: 
              | #{t.deadline}
            p 
              b Task Description: 
              | #{t.description}
            .w3-container.w3-display-right 
              button.w3-button.w3-grey.w3-card-4(onclick="toggleAccordion("+t.id+")") Edit
              button.w3-button.w3-grey.w3-hover-red.w3-card-4(type="submit" form="delete"+t.id) Delete
              button.w3-button.w3-grey.w3-hover-green.w3-card-4(type="submit" form="complete"+t.id) Complete
              form(id="delete"+t.id method="POST" action="delete")
                input(type="hidden" name="id" value=t.id)
              form(id="complete"+t.id method="POST" action="complete")
                input(type="hidden" name="id" value=t.id)
                input(type="hidden" name="name" value=t.name)
                input(type="hidden" name="deadline" value=t.deadline)
                input(type="hidden" name="description" value=t.description)
                input(type="hidden" name="done" value="yes")
          .w3-accordion.w3-card-4
            .w3-accordion-content.w3-hide(id="accordion"+t.id)
              form.w3-container(method="POST" action="edit")
                .w3-section 
                  h3 
                    b Edit Task 
                  input(type="hidden" value=t.id name="id")
                  label
                    b Name
                  input.w3-input.w3-border(type="text" value=t.name name="name")
                  label
                    b Deadline Date
                  input.w3-input.w3-border(type="date" value=t.deadline name="deadline")
                  label
                    b Task Description
                  input.w3-input.w3-border(type="text" value=t.description name="description")
                  input(type="hidden" name="done" value="no")
                  button.w3-button.w3-block.w3-green.w3-section.w3-padding(type="submit") Confirm
    .w3-half 
      .w3-container.w3-center
        h2.w3-green Done Tasks 
      each t in donelist
        .w3-container
          .w3-panel.w3-pale-green.w3-bottombar.w3-border-green.w3-border.w3-display-container 
            p 
              b Name: 
              | #{t.name}
            p 
              b Deadline Date: 
              | #{t.deadline}
            p 
              b Task Description: 
              | #{t.description}
            .w3-container.w3-display-right 
              button.w3-button.w3-grey.w3-card-4(onclick="toggleAccordion("+t.id+")") Edit
              button.w3-button.w3-grey.w3-hover-red.w3-card-4(type="submit" form="delete"+t.id) Delete
              form(id="delete"+t.id method="POST" action="delete")
                input(type="hidden" name="id" value=t.id)
          .w3.accordion.w3-card-4
            .w3-accordion-content.w3-hide(id="accordion"+t.id)
              form.w3-container(method="POST" action="edit")
                .w3-section 
                  h3 
                    b Edit Task 
                  input(type="hidden" value=t.id name="id")
                  label
                    b Name
                  input.w3-input.w3-border(type="text" value=t.name name="name")
                  label
                    b Deadline Date
                  input.w3-input.w3-border(type="date" value=t.deadline name="deadline")
                  label
                    b Task Description
                  input.w3-input.w3-border(type="text" value=t.description name="description")
                  input(type="hidden" name="done" value="no")
                  button.w3-button.w3-block.w3-green.w3-section.w3-padding(type="submit") Confirm
  script.
    function toggleAccordion(id){
      var x = document.getElementById('accordion' + id);
      if (x.classList.contains('w3-hide')) {
        x.classList.remove('w3-hide');
      } else {
        x.classList.add('w3-hide');
      }
    }
  